h4 {
    text-align:center;
    position:relative;
}

body { 
    padding-top:70px; 
}

#main {
	position:relative;
    top:20%;
    left:10%;
}

td, th {
    text-align:center;
    vertical-align:middle;
}

th {
    color:#00008B;
}

.container-non-responsive {
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 100px;
}

.navbar-default {
    background-color:#00008B;
}

.navbar-default .navbar-brand {
    color: white;
}

.form-control {
    border-color:#00008B;
}
